<mat-toolbar>
    <button class="home-button" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        <span>Tinner</span>
    </button>
    <!-- <button routerLink="/members" routerLinkActive="active" ariaCurrentWhenActive="page">
        <span>Members</span>
    </button>
    <button routerLink="/server-error" routerLinkActive="active" ariaCurrentWhenActive="page">
        <span>XYZ</span>
    </button> -->


    @if (user()===undefined) {
    <span class="my-spacer"></span>
    <button routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
    </button>
    }
    @if(user()){
    <button>
        <span>Follower</span>
    </button>
    <button>
        <span>Following</span>
    </button>

    <span class="my-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">{{user()?.display_name}}</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>manage_accounts</mat-icon>
            Profile
        </button>
        <button mat-menu-item (click)="logOut()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
    }

</mat-toolbar>